body{
	background-color: #000;
	font-family: Lato;
	color: #fff;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;\
}

section{
	padding: 0;
}
section.gray{
	background-color: #1b1b1b;
}

pre{
	background-color: transparent;
	border: 0;
}

.italic{
	font-style: italic;
}
.yellow{
	color: yellow;
}
.white{
	color: white;
}
