footer{
	padding-right: 70px;
	display: inline-block;
	width: 100%;
	font-weight: 300;
	z-index: 2;
}

footer span{
	display: inline-block;
	float: left;
	margin: 30px 30px 30px 0;
	font-family: Lato;
	font-size: 17px;
	line-height: 6;
	text-align: center;
	color: #ffffff;
}

footer span.copyright{
	font-size: 24px;
	margin-right: 10px;
	margin-left: 70px;
	line-height: 4.3;
}

footer img{
	display: inline-block;
	float: right;
	margin: 58px 20px 30px 0;
	height: 40px;
}
