footer{
	padding-right: 70px;
	display: inline-block;
	width: 100%;
	font-weight: 300;
	z-index: 2;
}

footer span{
	display: inline-block;
	float: left;
	margin: 30px 30px 30px 0;
	font-family: Lato;
	font-size: 25px;
	line-height: 1.8;
	text-align: center;
	color: #ffffff;
}

footer span.copyright{
	line-height: 1.8;
	font-size: 28px;
	margin-right: 10px;
	margin-left: 70px;
}

footer img{
	display: inline-block;
	float: right;
	margin: 35px 20px 30px 0;
	height: 40px;
}
