
#About{
	margin: 0px 0 150px 0;
	padding: 400px 0 0 0;
	font-family: Noto Sans CJK KR;
	color: white;
	padding-bottom: 0;

}
#About::after{
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity : 0.15;
  z-index: -1;
	background-image: url("../images/aboutBg.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#About .mainTitle{
	margin-bottom: 34px;
}
.mainTitle pre,
.mainTitle p{
	font-family: TSTMovRO;
	font-size: 53px;
	font-weight: 100;
	line-height: 1.4;
	color: #fff;
	background-color: transparent;
	border: 0;
}
#About .mainTitle p img{
	width: 159px;
	margin: 0 6px;
}

#About .subTitle{
	margin: 30px 0 270px 0;
}
.subTitle p{
	font-family: Noto Sans CJK KR thin;
	font-size: 21px;
	line-height: 1.3;
	text-align: center;
	color: #ffffff;
}

.lineVertical{
	width: 0;
	height: 53px;
	border: 1.5px solid #fff;
	margin: 38px auto;
}
.lineVertical.long{
	height: 207px;
	margin: 66px auto;
}

#About .cine{
	width: 1300px;
	display: inline-block;
	text-align: left;
	margin: 30px auto;
	height: 680px;
	background-repeat: no-repeat;
}
#About .cine.about0{
	background-size: 1300px;
	height: 360px;
	background-image: url("../images/mov/about0.png");
}
#About .cine.about1{
	background-size: 1300px;
	background-image: url("../images/mov/about1.png");
}
#About .cine.about2{
	background-size: 1300px;
	background-image: url("../images/mov/about2.png");
	padding-top: 310px;
}
#About .cine.about3{
	background-size: 1300px;
	background-image: url("../images/mov/about3.png");
	padding-top: 560px;
}
#About .cine.about4{
	background-size: 1300px;
	background-image: url("../images/mov/about4.png");
	padding-top: 560px;
}
#About .cine .cineTitle{
	display: block;
	top: 200px;
	font-size: 60px;
	font-family: Lato;
	font-weight: 600;
	font-style: italic;
	color: #ffffff;
}
#About .cine .cineSubTitle{
	margin-top: 30px;
	background-color: transparent;
	border: none;
	display: block;
	font-size: 39px;
	font-family: Lato;
	font-weight: 600;
	font-style: italic;
	color: #ffffff;
}
#About .cine .cineName{
	float: right;
	font-family: Lato;
	font-size: 30px;
	font-weight: 600;
	font-style: italic;
	color: #ffffff;
}
#About .cine.about3 .cineName{
	margin-top: 70px;
}

#Tip{
	padding-top: 130px;
}
#Tip .mainTitle{
	color: #cbb6a0;
}
#Tip .subTitle{
	margin-top: 30px;
}
#Tip .row{
	margin: 90px 150px;
}
#Tip .membership .title{
	padding-top: 120px;
	height: 280px;
}
#Tip .row > div{
	padding: 0 17px;
}
#Tip .row > div > .imgWrapper{
	height: 311px;
}
#Tip .row > div > .imgWrapper img{
	width: 51%;
}
#Tip .row > div > .description pre{
	font-family: Noto Sans CJK KR thin;
	font-size: 25px;
	line-height: 1.5;
	letter-spacing: 1.6px;
	text-align: center;
	color: #ffffff;
	white-space: pre-line;

}
#Events {
	padding-top: 154px;
	margin-top: -90px;
}
#Events .mainTitle pre{
	margin-bottom: 30px;
}
#Events .poster{
	margin: 120px 0px;
	padding: 0 40px;
}
#Events .poster.posterLeft img{
	float: left;
}
#Events .poster.posterRight img{
	float: right;
}
#Events .poster .img{
	display: block;
	height: 900px;
}
#Events .doReserv{
	margin: 0 auto;
	width: 210px;
	height: 70px;
	border-radius: 35px;
	line-height: 70px;
	color: black;
	text-align: center;
	font-family: TSTMovRO;
	font-size: 26px;
	font-weight: 500;
	background-color: #ffe825;
	border: solid 1px #979797;
	cursor: pointer;
}
#Events a:hover{
	text-decoration: none;
}
#Events .app{
	display: inline-block;
	margin: 70px 30px;
	width: 300px;
}
#Events .app.appRight{
	margin: 130px 90px 0 200px;
}
