#About{
	margin: 250px 0 150px 0;
	padding: 150px 0 0 0;
	font-family: Noto Sans CJK KR;
	color: white;
	padding-bottom: 0;
}

#About .mainAbout p{
	font-family: Core Gothic D;
	font-size: 70.2px;
	font-weight: 100;
	line-height: 1.4;
}
#About .mainAbout p .pauseEng{
	font-size: 97.2px;
	font-weight: 500;
	font-family: Lato;
	font-style: italic;
	line-height: 1;
	color: #ffe825;
}
#About .mainAbout p .pauseKr{
	font-family: Core Gothic D;
	font-size: 48px;
	line-height: 2.1;
	color: #ffe825;
}

#About .subAbout{
	margin-top: 30px;
}
#About .subAbout p{
	opacity: 0.85;
	font-family: Noto Sans CJK KR;
	font-size: 27px;
	line-height: 1.7;
	text-align: center;
	color: #ffffff;
}

.lineVertical{
	width: 0;
	height: 53px;
	border: 1.5px solid #fff;
	margin: 38px auto;
}
.lineVertical.long{
	height: 207px;
	margin: 66px auto;
}

#About .cine{
	width: 1630px;
	display: inline-block;
	padding: 330px 37px 0 71.5px;
	text-align: left;
}
#About .cine.about1{
	background-size: cover;
	height: 708px;
	background-image: url("../images/mov/about1.png");
}
#About .cine.about2{
	background-size: cover;
	height: 749px;
	background-image: url("../images/mov/about2.png");
	padding-top: 310px;
}
#About .cine.about3{
	background-size: cover;
	height: 901px;
	background-image: url("../images/mov/about3.png");
	padding-top: 560px;
}
#About .cine .cineTitle{
	display: block;
	top: 290px;
	font-size: 60px;
	font-family: Lato;
	font-weight: 600;
	font-style: italic;
	color: #ffffff;
}
#About .cine .cineSubTitle{
	margin-top: 30px;
	background-color: transparent;
	border: none;
	display: block;
	font-size: 39px;
	font-family: Lato;
	font-weight: 600;
	font-style: italic;
	color: #ffffff;
}
#About .cine .cineName{
	float: right;
	font-family: Lato;
	font-size: 30px;
	font-weight: 600;
	font-style: italic;
	color: #ffffff;
}
#About .cine.about3 .cineName{
	margin-top: 70px;
}

#Tip{
	padding: 71px 0 157px 0;
}
#Tip .title{
	font-family: Core Gothic D;
	font-size: 58.5px;
	font-weight: 200;
	line-height: 1.4;
	color: #cbb6a0;
}
#Tip .subTitle{
	font-family: Noto Sans CJK KR;
	font-size: 32px;
	line-height: 1.7;
	color: #ffffff;
}
#Tip .row{
	margin: 90px 150px;
}
#Tip .row > div{
	padding: 0 37px;
}
#Tip .row > div > .imgWrapper{
	height: 311px;
	background-color: #d8d8d8;
	margin-bottom : 90px;
}
#Tip .row > div > .description{
	font-family: Noto Sans CJK kr;
	font-size: 32px;
	line-height: 1.7;
	text-align: center;
	color: #ffffff;
}
#Events {
	padding-top: 154px;
}
#Events .mainTitle p{
	font-family: Core Gothic D;
	font-size: 58.5px;
	font-weight: 200;
	color: #ffe825;
}
#Events .subTitle p{
	font-family: Noto Sans CJK kr;
	font-size: 32px;
	color: #ffffff;
}
#Events .poster{
	margin: 120px 0px;
	padding: 0 40px;
}
#Events .poster.posterLeft img{
	float: left;
}
#Events .poster.posterRight img{
	float: right;
}
#Events .poster .img{
	display: block;
	height: 900px;
}
#Events .doReserv{
	margin: 0 auto;
	width: 210px;
	height: 70px;
	border-radius: 35px;
	line-height: 70px;
	color: black;
	text-align: center;
	font-family: Core Gothic D;
	font-size: 26px;
	font-weight: 500;
	background-color: #ffe825;
	border: solid 1px #979797;
	cursor: pointer;
}
#Events a:hover{
	text-decoration: none;
}
#Events .app{
	margin: 120px 0px;
	padding: 0 40px;
}
#Events .app.appLeft img{
	float: left;
}
#Events .app.appRight img{
	float: right;
}
#Events .app img{
	display: block;
	height: 470px;
}

footer{
	padding-right: 70px;
}

footer span{
	display: inline-block;
	float: left;
	margin: 180px 40px 50px 0;
	font-family: Lato;
	font-size: 30px;
	line-height: 1.8;
	text-align: center;
	color: #ffffff;
}

footer span.copyright{
	line-height: 1.4;
	font-size: 45px;
	margin-right: 15px;
	margin-left: 70px;
}

footer img{
	display: inline-block;
	float: right;
	margin: 180px 20px 50px 0;
	height: 50px;
}
