body{
	background-color: #000;
	font-family: Lato;
}
.introContainer{
  padding: 0;
}
.introContainer  .introBg,
.intro2Container .introBg{
	position: absolute;
	top: 99px;
	left: 662px;
	width: 1221px;
	height: 814px;
	z-index: -1;
}
.introContainer .introWords{
  margin: 490px auto 44px auto;
	display: block;
	overflow: hidden;
	height: 93px;
}
.introContainer .introWords h1{
	margin: 0 0 10px 0;
	font-size: 67px;
	font-weight: 100;
	font-style: italic;
	text-align: center;
  white-space: pre;
	color: #ffffff;
}
.introContainer .introWords h1.word1{
	display: block;
}
.introContainer .introPause{
  margin: 0 auto;
  display: block;
	width: 518px;
	height: 162px;
}
.introContainer .enter{
  display: inline-block;
  margin: 0;
  margin-left: 42px;
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: center;
}
.introContainer .enter img{
  display: block;
  margin: 0;
}
.introContainer .enter span{
  display: block;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  border: none;
	font-family: Lato;
	font-size: 35px;
	font-weight: 500;
	font-style: italic;
	text-align: left;
	color: #ffffff;
}
