.container{
	width: 100%;
}

#ProgTitle{
	padding: 270px 0;
	background-size: 60%;
	background-repeat: no-repeat;
}

#ProgTitle .mainTitle{
	font-family: TSTMovRO;
	font-size: 53px;
}

.mainTitle{
	font-family: Noto Sans CJK KR thin;
	font-size: 40px;
	line-height: 1.3;
	font-weight: 200;
	text-align: center;
	color: #ffffff;
}
.subTitle{
	font-family: Noto Sans CJK KR thin;
	font-size: 21px;
	line-height: 2.6;
	text-align: center;
	color: #ffffff;
}

#ProgContent{

}
#ProgContent .container{
	background-image: url("../images/programs/programs-bg.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
#ProgContent .title{
	display: block;
	border: 0 solid transparent;
	height: 0px;
	margin-bottom: 100px;
}
#ProgContent .title.titleLeft{
	border-bottom-color: #ac916b;
  border-bottom-width: 60px;
  border-right-width: 30px;
  float: left;
  width: 45%;
	margin-right: 55%;
}
#ProgContent .title.titleRight{
	border-top-color: #ac916b;
  border-top-width: 60px;
  border-left-width: 30px;
  float: right;
  width: 45%;
	margin-left: 55%;
}
#ProgContent .title span{
	line-height: 60px;
	display: block;
	font-family: Lato;
	font-size: 35px;
	font-style: italic;
	text-align: center;
	color: #ffffff;
}

#ProgContent .title.titleRight span{
	margin-top: -60px;
	line-height: 0px;
}

#ProgContent .posterWrapper{
	margin-bottom: 360px;
}
#ProgContent .posterWrapper img{
	height: 600px;
}
#ProgContent .textWrapper{
	padding: 0 120px 0 100px;
}
#ProgContent .textWrapper,
#ProgContent .textWrapper p{
	text-align: left;
}
#ProgContent .textWrapper .preTitle{
	font-size: 52px;
	font-weight: normal;
	line-height: 1.5;
	letter-spacing: 3.9px;
}
#ProgContent .textWrapper .subTitle{
	font-family: Noto Sans CJK KR;
	margin: 20px 0 70px 0;
}
#ProgContent .textWrapper .detail{
	font-family: Noto Sans CJK KR thin;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 1.9px;
	color: #ffffff;
	margin: 20px 0;
}
#ProgContent .textWrapper .info{
	margin-top: 50px;
}
#ProgContent .textWrapper .info span{
	font-family: Noto Sans CJK KR;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 21px;
	color: #ac916b;
	padding-left: 50px;
	background-size: 30px;
	background-position: left center;
	background-repeat: no-repeat;
	margin-right: 40px;
}
#ProgContent .textWrapper .info span.iconInfo1{
	background-image: url("../images/programs/progInfo1.png");
}
#ProgContent .textWrapper .info span.iconInfo2{
	background-image: url("../images/programs/progInfo2.png");
}
#ProgContent .textWrapper .info span.iconInfo3{
	background-image: url("../images/programs/progInfo3.png");
}
#ProgContent .textWrapper .info span.iconInfo4{
	background-image: url("../images/programs/progInfo4.png");
}


/*
{
  border-bottom-width: 60px;
  border-right-width: 30px;
  float: left;
  width: 55%;
  margin-left: 0%;
}
{
  border-top-width: 60px;
  border-left-width: 30px;
  float: right;
  width: 70%;
  margin-right: 0%;
}
{
  border-bottom-width: 60px;
  border-right-width: 30px;
  float: left;
  width: 80%;
  margin-left: 0%;
}*/
