
#Resv3{
	padding: 283px 0 0 0;
	font-family: Noto Sans CJK KR;
	color: white;
	padding-bottom: 0;
}
#Resv3 .container,
#ResvInfo .container{
	width: 1300px !important;
}
.resvNav div{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  border: 2px solid #fff;
  margin: 0 10px;
}
.resvNav div.active{
  background-color: #fff;
}
.movieInfoDiv p{
  margin: 30px 0 20px 0;
}
.movieInfoDiv .movieInfo{
	height: 49px;
	font-family: TSTMovRO;
	font-size: 50px;
	font-weight: 300;
	line-height: 1.3;
	letter-spacing: 4px;
	text-align: center;
	color: #ffffff;
	display: inline-block;
	margin-top: 50px;
}
.movieInfoDiv .afterMovieInfo span{
	display: inline-block;
  font-family: Core Gothic D;
  font-size: 38px;
  font-weight: 300;
  line-height: 2.1;
	margin-left: 20px;
  letter-spacing: 3.2px;
}
.movieInfoDiv .afterMovieInfo .name{
	font-size: 65px;
	font-weight: 300;
	line-height: 1.3;
	margin-left: 40px;
	letter-spacing: 5.2px;
}

.ticketBorder{
	height: 13px;
	border: solid 2px #ac916b;
	margin: 100px 0;
}
.movieImg{
	padding: 0 20px;
}
.movieImg .movieCapture{
	float: right;
	width: 100%;
}

.movieInfo{
	padding-left: 30px;
}
.movieInfo .movieDate{
	font-family: Noto Sans CJK kr;
	font-size: 44px;
	color: #ac916b;
	margin: 15px 0 45px 0;
}
.movieInfo .movieTitleKr{
	font-family: Noto Sans CJK KR thin;
	font-size: 48px;
	line-height: 1.3;
	letter-spacing: 5.6px;
	margin-right: 30px;
}
.movieInfo .movieTitleEn{
	font-family: Lato;
	font-size: 48px;
	font-weight: 300;
	font-style: italic;
	line-height: 2;
	letter-spacing: 3.8px;
}
.movieInfo .movieShortInfo{
	margin: 0px 0 55px 0;
}
.movieInfo .movieShortInfo span{
	font-family: Noto Sans CJK KR;
	font-size: 32px;
	font-weight: 300;
	margin-right: 50px;
	letter-spacing: 0.5px;
}
.movieInfo .movieShortInfo .director{
	margin-right: 0;
}
.movieInfo .movieOptions span{
	font-family: Noto Sans CJK KR;
	font-size: 37px;
	font-weight: 300;
	margin-right: 70px;
	letter-spacing: 0.5px;
}
.movieInfo .movieOptions .title{
	margin-right: 34px;
	color: #ac916b;
}
.movieInfo .movieOptions .last{
	margin-right: 0;
}
.movieQuote .comma1{
	margin-top: -20px;
	margin-bottom: 60px;
}
.movieQuote .comma2{
	margin-bottom: -20px;
	margin-top: 60px;
}
.movieQuote .quoteEng{
	font-family: Lobster Two;
	font-size: 38px;
	font-weight: bold;
	font-style: italic;
	line-height: 1.3;
}
.movieQuote .quoteKor{
	font-family: Noto Sans CJK kr;
	font-size: 24px;
	line-height: 1.5;
}

#ResvInfo{
	padding: 80px 0;
}
#autoHome .notice{
	margin-top: 80px;
	font-family: TSTMovRo;
	font-size: 40px;
	letter-spacing: 3.5px;
	color: #fddd19;
}

.prevNext{
  margin: 170px 100px;
}
.prevNext div{
  display: inline-block;
  cursor: pointer;
	background-repeat: no-repeat;
	background-size: 49px;
}
.goPrev{
  float: left;
  padding-left: 60px;
	font-family: Core Gothic D;
	font-size: 35px;
	font-weight: 500;
	line-height: 3.6;
	letter-spacing: 2.6px;
	color: #ffffff;
	background-image: url('../images/goLeft.png');
	background-position: left center;
	margin-bottom: 10px;
}
