body{
  overflow-y: hidden;
}
#Resv{
	margin: 164px 0 80px 0;
	padding: 150px 0 0 0;
	font-family: Noto Sans CJK KR;
	color: white;
	padding-bottom: 0;
}

#Resv .mainTitle p{
	font-family: TSTMovRO;
	font-size: 53px;
	font-weight: 100;
	line-height: 1.4;
  letter-spacing: 1px;
}

#Resv .subTitle{
	margin-top: 30px;
}
#Resv .subTitle p{
	font-family: Noto Sans CJK KR;
	font-size: 23px;
	line-height: 1.7;
	text-align: center;
	color: #ffffff;
}
.resvNav{
  margin: 80px 0 35px 0;
}
.resvNav div{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  border: 2px solid #fff;
  margin: 0 10px;
}
.resvNav div.active{
  background-color: #fff;
}
.select{

}
.select .intro{
	font-family: TSTMovRO;
	font-size: 40px;
	letter-spacing: 3.8px;
	text-align: center;
	color: #ffffff;
}
.select .step{
	font-family: TSTMovRO;
	font-size: 30px;
	letter-spacing: 3px;
	color: #c1a283;
}
.select .selectDate{
  margin: 60px auto 0 auto;
}
.select .selectDate div{
  width: 160px;
  height: 40px;
  margin: 0 20px;
  border: solid 1px #c1a283;
  border-radius: 60px;
  display: inline-block;
	font-family: TSTMovRO;
	font-size: 28px;
  line-height: 32px;
	letter-spacing: 2.3px;
  cursor: pointer;
  -webkit-transition: .2s;
}
.select .selectDate div:last-child{
  border-width: 2px;
}
.select .selectDate div.selected,
.select .selectDate div:hover{
  background-color: #c1a283;
}
.select .selectTime{
  margin: 63px auto 0 auto;
  width: 390px;
}
.select .selectTime > div{
  display: inline-block;
  margin: 10px 20px;
  float: left;
}
.select .selectTime .timeDiv{
  width: 200px;
  height: 50px;
  border-bottom: 2px solid #c1a283;
}
.select .selectTime .timeDiv span{
	font-size: 32px;
	letter-spacing: 2.4px;
	color: #c1a283;
  display: inline-block;
  float: right;
  margin-right: 20px;
}
.select .selectTime .timeDiv .dayNight{
  width: 40px;
  height: 40px;
  display: inline-block;
  float: left;
  margin-left: 15px;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  cursor: pointer;
}
.select .selectTime .timeDiv .dayNight.day{
  background-image: url("../images/dayTime.png");
}
.select .selectTime .timeDiv .dayNight.night{
  background-image: url("../images/nightTime.png");
}

.selectTime .timeList {
    padding: 0;
    margin: -5px 0 0 32px;
    width: 70px;
    display: inline-block;
    float: left;
    border-radius: 3px;
    overflow: hidden;
    background-color: transparent;
    color: #c1a283;
    font-size: 29px;
    cursor: pointer;
    /*background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;*/
}

.selectTime .timeList select {
    letter-spacing: 2px;
    cursor: pointer;
    text-align: right;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.selectTime .timeList select:focus {
    outline: none;
}

.select .selectTime .goNext{
  width: 110px;
  height: 50px;
  border: 1px solid #c1a283;
  line-height: 14px;
  margin-top: 9px;
  background-color: #c1a283;
  cursor: pointer;
  border-radius: 25px;
	font-family: Lato;
	font-size: 35px;
	font-weight: 600;
	font-style: italic;
	letter-spacing: 0.9px;
	text-align: center;
  -webkit-transition: .2s;
}
.select .selectTime .goNext[disabled=disabled]{
  color: transparent;
  background-color: transparent;
}

.bodyBackWrapper{
  z-index: -1;
  width: 100%;
  height: 1180px;
  background-image: url('../images/resvBg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  opacity: 0.2;
}
.bodyBackWrapper.gradation{
  background-image: url('../images/gradation.png');
  background-position: 0 416px;
  opacity: 1;
}
.backgroundGif{
  z-index: -1;
  width: 100%;
  height: 1180px;
  position: fixed;
  top: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.backgroundGif .planeZ{
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .3s ease-out;
  -webkit-transform-origin: 0 0;
  position: absolute;
  pointer-events: none;
}
.backgroundGif img{
  display: block;
  position: absolute;
}
/*.backgroundGif img.idx1{ top: 211px; left: 660px;  width: 298px;}
.backgroundGif img.idx2{ top: 299px; left: 396px;  width: 223px;}
.backgroundGif img.idx3{ top: 493px; left: 408px;  width: 172px;}
.backgroundGif img.idx4{ top: 531px; left: 248px;  width: 294px;}
.backgroundGif img.idx5{ top: 666px; left: 468px;  width: 220px;}
.backgroundGif img.idx6{ top: 242px; left: 1103px; width: 176px;}
.backgroundGif img.idx7{ top: 365px; left: 1330px; width: 355px;}
.backgroundGif img.idx8{ top: 491px; left: 1436px; width: 291px;}
.backgroundGif img.idx9{ top: 672px; left: 1356px; width: 191px;}
.backgroundGif img.idx0{ top: 689px; left: 1112px; width: 292px;}*/
#planeOverflow {
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: -1;
}

#planeRotate {
    width: 80vw;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: -100;
    position: fixed;
}

#planeZ, .tile {
    position: absolute
}

#planeZ {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .3s ease-out;
    -webkit-transform-origin: 0 0;
}


.tile img {
  width: 100%;
}

.idx1{ top: 151px; left: 32.8vw; width: 298px;}
.idx2{ top: 149px; left: 19.7vw; width: 223px;}
.idx3{ top: 443px; left: 20.3vw; width: 172px;}
.idx4{ top: 481px; left: 12.3vw; width: 294px;}
.idx5{ top: 616px; left: 23.3vw; width: 220px;}
.idx6{ top: 192px; left: 54.9vw; width: 176px;}
.idx7{ top: 315px; left: 66.2vw; width: 355px;}
.idx8{ top: 441px; left: 71.5vw; width: 291px;}
.idx9{ top: 622px; left: 67.5vw; width: 191px;}
.idx0{ top: 639px; left: 55.3vw; width: 292px;}
