<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="utf-8">

  <title>pause</title>

  <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="../stylesheets/agency.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../stylesheets/home.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/nav.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/common.css" />
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/jquery.smoothwheel.js"></script>
  <script src="../js/home.js"></script>
<script>
    $(document).ready(function(){
        $("body").smoothWheel();
    });
</script>
</head>

<body id="page-top" class="index">

  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a href="intro.html">
          <img class="logo" src="../images/logo.png" />
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li class="active">
            <a href="#">about</a>
          </li>
          <li>
            <a href="resv.html">reservation</a>
          </li>
          <li>
            <a href="#">programs</a>
          </li>
          <li>
            <a href="#">today cine</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!-- Services Section -->
  <section id="About" class="text-center">
    <div class="mainAbout">
      <p>어서오세요!</p>
      <p>오직 당신만을 위한 영화 공간</p>
      <p><span class="pauseEng">pause</span><span class="pauseKr">퍼즈</span> 입니다</p>
    </div>
    <div class="subAbout">
      <p>1인 영화 공간 퍼즈는 영화와 함께하는 휴식과 즐거움을 제공합니다.</p>
      <p>누구에게도 방해 받지 않는, 온전한 나만을 위한 시간을 누리세요.</p>
    </div>
    <div class="lineVertical long"></div>
    <div class="cine about1">
      <span class="cineTitle">Pleasure of Cinema</span>
      <pre class="cineSubTitle">“ Dreams feel real while we are in them.
It’s only when we wake up that what we realize
something was actually wrong.”</pre>
      <span class="cineName">&lt; Inception (2010) &gt;</span>
    </div>
    <div class="lineVertical"></div>
    <div class="cine about2">
      <span class="cineTitle">Enjoy to Be Alone</span>
      <pre class="cineSubTitle">“ When I get lonely these days,
I think : So be lonely, Liz.
Learn your way around loneliness.
Make a map of it. Sit with it. For once in your life. ”</pre>
      <span class="cineName">&lt; Eat, Pray, Love (2006) &gt;</span>
    </div>
    <div class="lineVertical"></div>
    <div class="cine about3">
      <span class="cineTitle">Recharge in Peace</span>
      <pre class="cineSubTitle">“ She breathes deeply. Life is simple and clear.”</pre>
      <span class="cineName">&lt; Amelie (2001) &gt;</span>
    </div>
    <div class="lineVertical"></div>
    <div class="cine about3">
      <span class="cineTitle">Recharge in Peace</span>
      <pre class="cineSubTitle">“ She breathes deeply. Life is simple and clear.”</pre>
      <span class="cineName">&lt; Amelie (2001) &gt;</span>
    </div>
  </section>
  <section id="Tip" class="gray text-center">
    <div class="howToUse">
      <p class="title">
        어떻게 이용하는건가요?
      </p>
      <p class="subTitle">
        처음이신가요? 퍼즈를 이용하는 방법에는 크게 세가지가 있습니다.
      </p>
      <div class="row">
        <div class="col-xs-4">
          <div class="imgWrapper">
            <img src="" />
          </div>
          <div class="description">
            첫째, 퍼즈가 엄선해서 꾸린 테마 시간표 보고 고르기. 무드/이벤트/상황 별로 개성있고 퀄리티  높은 작품만  골라드려요.
          </div>
        </div>
        <div class="col-xs-4">
          <div class="imgWrapper">
            <img src="" />
          </div>
          <div class="description">
            둘쨰, 내가 보고 싶은 영화를 직접 usb에 담아오기. 가장 저렴하게 퍼즈를 즐길 수 있는 방법입니다.
          </div>
        </div>
        <div class="col-xs-4">
          <div class="imgWrapper">
            <img src="" />
          </div>
          <div class="description">
            셋째, 퍼즈 웹하드에 업로드 하기. 스태프가 예약 날짜에 맞춰서 미리 다운로드 받아서 준비해드립니다.
          </div>
        </div>
      </div>
    </div>
    <div class="membership">
      <p class="title">
        퍼즈 멤버쉽
      </p>
      <p class="subTitle">
        시즌마다 나오는 퍼즈 멤버쉽 카드를 등록하세요. 포인트 적립에  따른 알찬 리워드도 기다리고 있답니다.
      </p>
      <div class="row">
        <div class="col-xs-4">
          <div class="imgWrapper">
            <img src="" />
          </div>
        </div>
        <div class="col-xs-4">
          <div class="imgWrapper">
            <img src="" />
          </div>
        </div>
        <div class="col-xs-4">
          <div class="imgWrapper">
            <img src="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="Events" class="text-center">
    <div class="mainTitle">
      <p>2017 클럽 퍼즈 회원 모집중!</p>
    </div>
    <div class="subTitle">
      <p>클럽 P의 회원이 되고 감상  후 다른 회원들과 영화에 관한 이야기를 나눠보세요.</p>
      <p>다양한 온/오프라인 영화 정보  가장 먼저 받아 보고, 온 오프리인 이벤트 혜택을 누리세요.</p>
    </div>
    <div class="row">
      <div class="col-xs-6 poster posterRight">
        <img src="../images/recruitWhite.png" />
      </div>
      <div class="col-xs-6 poster posterLeft">
        <img src="../images/recruitBlack.png" />
      </div>
    </div>
    <div class="mainTitle">
      <p>퍼즈 모바일 어플이 출시되었습니다!</p>
    </div>
    <div class="subTitle">
      <p>모바일 어플을 통해 더 쉽고 편리하게 예약하세요!</p>
      <p>애플 앱스토어/구글 플레이 스토어에서 모두 만나보실 수 있습니다.</p>
    </div>
    <div class="row">
      <div class="col-xs-6 poster posterRight">
        <img src="../images/1120_AppStoreMockup.png" />
      </div>
      <div class="col-xs-6 poster posterLeft">
        <img src="../images/1120_iPhone-6-4,7-inch-Three-colors-Mockup.png" />
      </div>
    </div>
    <div class="doReserv">
      지금 예약하기
    </div>
  </section>
  <footer>
    <span class="copyright">©</span>
    <span>pause</span>
    <span>94  ,Wausan-ro   Mapo-gu  Seoul, Republic of Korea</span>
    <span>www.pause.com</span>
    <span>bogledj@gmail.com</span>
    <img src="../images/footer_insta.png" />
    <img src="../images/footer_fb.png" />
  </footer>
</body>

</html>
