<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <title>pause</title>
  <link rel="shortcut icon" href="../favicon.ico">
  <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css" />
  <script src="../js/jquery.min.js"></script>
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/intro.js"></script>
  <link rel="stylesheet" type="text/css" href="../stylesheets/intro.css" />
</head>

<body>
  <div class="container-fluid introContainer text-center">
    <div class="introWords">
      <div class="wordContainer">
        <div class="word1">
          <p class="word">퍼즈는 당신만의 따뜻하고 아늑한 영화 공간입니다</p>
          <p class="word">일상을 잠시 멈추고 영화,그리고 혼자만의 시간을 즐기세요</p>
          <p class="slogan">
            Pause, and Play Cinema
          </p>
        </div>
        <div class="word2">
          <img src="../images/intro/comma1.png" />
          <p class="word">사람은 누구나 밤늦은 시간까지 자기를 감싸줄</p>
          <p class="word">깨끗하고 불빛 환한 곳이 필요한 거야</p>
          <p class="slogan">
            <span class="comma"><</span> 깨끗하고 불빛 환한 곳
            <span class="comma">></span> 헤밍웨이
          </p>
          <img src="../images/intro/comma2.png" />
        </div>
      </div>
    </div>
  </div>
</body>
</html>
