<!DOCTYPE html>
<html lang="ko">
<head>
  <title>pause</title>
  <link rel="shortcut icon" href="../favicon.ico">
  <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css" />
  <script src="../js/jquery.min.js"></script>
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
</head>

<body>
  <div class="container-fluid mainContainer text-center">
    <a href="main.html">
      <img class="mainLogo" src="../images/logo.png" />
    </a>
    <div class="menus">
      <div class="menuContainer">
        <div class="mainMenu">
          <a href="home.html">about</a>
          <div class="lineDiv idx1"></div>
        </div>
        <div class="mainMenu">
          <a href="resv.html">reservation</a>
          <div class="lineDiv idx2"></div>
        </div>
        <div class="mainMenu">
          <a href="prog.html">programs</a>
          <div class="lineDiv idx3"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="bodyBackWrapper">
    <div class="backImagesDiv idx0">
      <img class="fixed idx0" src="../images/main/00.gif" />
      <img class="fixed idx1" src="../images/main/01.gif" />
    </div>
    <div class="backImagesDiv idx1">
      <img class="fixed idx0" src="../images/main/02.gif" />
      <img class="fixed idx1" src="../images/main/03.gif" />
    </div>
    <div class="backImagesDiv idx2">
      <img class="fixed idx0" src="../images/main/04.gif" />
      <img class="fixed idx1" src="../images/main/05.gif" />
    </div>
  </div>
</body>
</html>
