<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="utf-8">

  <title>pause</title>

  <link rel="shortcut icon" href="../favicon.ico">
  <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="../stylesheets/agency.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../stylesheets/nav.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/common.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/footer.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/prog.css" />
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/jquery.smoothwheel.js"></script>
<script>
    $(document).ready(function(){
        $("body").smoothWheel();
    });
</script>
</head>

<body id="page-top" class="index">

  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a href="intro.html">
          <img class="logo" src="../images/logo.png" />
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a href="home.html">About</a>
          </li>
          <li>
            <a href="resv.html">Reservation</a>
          </li>
            <li class="active">
            <a href="#">Programs</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!-- Services Section -->
  <section id="ProgTitle" class="text-center">
    <div class="title">
      <p class="mainTitle">
        퍼즈가 준비한
      </p>
      <p class="mainTitle">
        12월 셋째주의 프로그램입니다
      </p>
      <p class="subTitle">
        영화만 보고 가기 아쉬운 씨네필들을 위한
      </p>
      <p class="subTitle">
        알차고 재밌는 토크와 강연을 만나보세요!
      </p>
    </div>
  </section>
  <section id="ProgContent" class="text-center">
    <div class="title titleLeft">
      <span>12.14 Wed PM 7:30</span>
    </div>
    <div class="title titleRight">
      <span>12.15 Thur PM 4:00</span>
    </div>
    <div class="title titleLeft">
      <span>12.16 Fri PM 2:30</span>
    </div>
    <div class="title titleRight">
      <span>12.17 Sat PM 7:30</span>
    </div>
    <div class="title titleLeft">
      <span>12.18 Sun PM 2:30</span>
    </div>
  </section>
  <footer>
    <span class="copyright">©</span>
    <span>pause</span>
    <span>94  ,Wausan-ro   Mapo-gu  Seoul, Republic of Korea</span>
    <span>www.pause.com</span>
    <span>bogledj@gmail.com</span>
    <img src="../images/footer_insta.png" />
    <img src="../images/footer_fb.png" />
  </footer>
</body>

</html>
