<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="utf-8">

  <title>pause</title>

  <link rel="shortcut icon" href="../favicon.ico">
  <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="../stylesheets/agency.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../stylesheets/nav.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/common.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/footer.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/prog.css" />
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/jquery.smoothwheel.js"></script>
<script>
    $(document).ready(function(){
        $("body").smoothWheel();
    });
</script>
</head>

<body id="page-top" class="index">

  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a href="main.html">
          <img class="logo" src="../images/logo.png" />
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a href="home.html">About</a>
          </li>
          <li>
            <a href="resv.html">Reservation</a>
          </li>
            <li class="active">
            <a href="#">Programs</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!-- Services Section -->
  <section id="ProgTitle" class="text-center">
    <div class="title">
      <p class="mainTitle">
        퍼즈가 준비한
      </p>
      <p class="mainTitle">
        12월 셋째주의 프로그램입니다
      </p>
      <p class="subTitle">
        영화만 보고 가기 아쉬운 씨네필들을 위한 알차고 재밌는 토크와 강연을 만나보세요!
      </p>
    </div>
  </section>
  <section id="ProgContent" class="text-center">
    <div class="container">
      <div class="row">
        <div class="title titleLeft">
          <span>12.14 Wed PM 7:30</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5 posterWrapper">
          <img src="../images/programs/progEvent1.png" />
        </div>
        <div class="col-xs-7 textWrapper">
          <p class="mainTitle">작지만 큰 울림이 있는</p>
          <p class="mainTitle">한국의 독립영화들</p>
          <p class="subTitle">낯설게만 느껴지던 독립 영화들과 친해지는 시간</p>
          <p class="detail">독립영화나 예술영화는 어렵고 난해하다는 편견 때문에 많은 사람들에게 매니아적 컨텐츠로 인식되곤 합니다. 하지만 2013년 이후로 <한공주 (2013)>, <잉여들의 히치하이킹(2013)>, <족구왕(2013)>, <거인(2014)> 를 포함한 많은 개봉작들이 여러 매체의 주목을 받기 시작했고, 이젠 과거보다 많은 사람들이 독립영화를 알고, 관심 갖고 있습니다.</p>
          <p class="detail">그러나 사실 아직 많은 한국 관객들이 독립영화나 예술영화는 돈 주고 보기 아까운 장르란 생각을 가지고 있는 경우가 많이 있습니다. </p>
          <p class="detail">물론 꼭 상업영화라고 해서 모두 좋은 작품만 나오는 것이 아니듯이, 독립영화나 예술영화 역시 상업영화처럼 도저히 이해할 수 없거나 심적으로 받아들일 수 없는 작품들이 존재할 것입니다. 이런 여러 가지 부분들에 대한 궁금증을 해결하는 시간을 마련했습니다.</p>
          <p class="info">
            <span class="iconInfo1">강연</span>
            <span class="iconInfo2">1시간</span>
            <span class="iconInfo3">Hall b</span>
            <span class="iconInfo4">김지은 평론가</span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="title titleRight">
          <span>12.15 Thur PM 4:00</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-7 textWrapper">
          <p class="mainTitle">평론가처럼 리뷰 쓰기</p>
          <p class="subTitle">느낌 있는 영화 리뷰 쓰는 방법은 따로 있다!</p>
          <p class="detail">모든 글쓰기는 많은 시간과 집중력을 필요로 합니다. 하지만 영화 리뷰는 특히 ‘무언가 느끼긴 느꼈는데, 이를 막상 뭐라 설명할 길을 모르겠는’ 경우가 많습니다. 그래서 리뷰를 쓰고 나서도, 내 글이 가 느낀 감동의 반도 담아 내지 못하는 것 같아 아쉽기만 합니다.</p>
          <p class="detail">그렇다면 영화 리뷰가 다른 글쓰기와 다른 특징은 무엇이며, 내가 느낀 감동을 가장 효과적으로 담아내는 방법은 무엇일까요? 2002년부터 현재까지 씨네21에 영화리뷰를 기고한 이정유 에디터와 함께 알아봅니다.</p>
          <p class="info">
            <span class="iconInfo1">강연</span>
            <span class="iconInfo2">1시간</span>
            <span class="iconInfo3">Hall b</span>
            <span class="iconInfo4">김지은 평론가</span>
          </p>
        </div>
        <div class="col-xs-5 posterWrapper">
          <img src="../images/programs/progEvent2.png" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="title titleLeft">
          <span>12.16 Fri PM 2:30</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5 posterWrapper">
          <img src="../images/programs/progEvent3.png" />
        </div>
        <div class="col-xs-7 textWrapper">
          <p class="mainTitle">당신에게 인생을 되돌릴</p>
          <p class="mainTitle">10번의 기회가 주어진다면?</p>
          <p class="subTitle"><당신, 거기 있어줄래요> 와 영화 속 타임 리프</p>

          <p class="detail">14일 개봉한 <당신, 거기 있어줄래요>를 누구보다 빠르게 관람한 당신, 어떻게 감상하셨나요? 이 날은 <당신, 거기 있어줄래요>를 비롯해서 수많은 곳에서 쓰이는 타임리프 (Time Leap) 에 대해 이야기 해보려고 합니다.</p>
          <p class="detail">시간 여행이라는 소재는 드라마와 영화, 예능을 넘나들며 다양한 모습으로 우리를 사로잡습니다. 대중이 시간에 대해 열광하는 이유는 무엇일까요? 기본적으론 한 시대에서 다양한 시대를 반영하고 있기 때문에 자신이 경험하지 못한 시대에 대한 간접경험의 재미가 큽니다. 그런데 여기에 더불어, 우리가 살고 있는 시대의 정치, 사회, 경제등의 여러 환경적인 변화에 따라 타임 리프물의 트렌드도 바뀐다는 사실. 시간 여행의 종류에 따라 부르는 명칭도 다릅니다. 이러한 것들을 비롯해 모든 시간 여행 영화에 대해 알아봅니다. </p>
          <p class="info">
            <span class="iconInfo1">강연</span>
            <span class="iconInfo2">1시간</span>
            <span class="iconInfo3">Hall b</span>
            <span class="iconInfo4">김지은 평론가</span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="title titleRight">
          <span>12.17 Sat PM 7:30</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-7 textWrapper">
          <p class="mainTitle">미리보는 2016 포르투갈 영화제</p>
          <p class="subTitle">미구엘 고메스, 주앙 페드로 호드리게스, 에드가 페라 등 </p>
          <p class="detail">국내에서는 거의 소개가 된 적이 없지만 포르투갈에서 만들어진 몇몇 영화들은 유럽의 평론가들을 완전히 매혹시키고 있습니다. 심지어 포르투갈은 현재 예술영화 최후의 보루라는 평가를 받고 있는 곳이기도 합니다. 대체 어떤 감독들이 포르투갈의 영화를 이끌어가는지 대표적인 감독 세명에 대해 간략히 소개해보는 시간입니다.</p>
          <p class="detail">포르투갈 영화에 대해 전혀 몰라도 상관없습니다. 단지 새로운 영화 세계를 만나게 되는 경험만으로도 의미 있으니요!</p>
          <p class="info">
            <span class="iconInfo1">강연</span>
            <span class="iconInfo2">1시간</span>
            <span class="iconInfo3">Hall b</span>
            <span class="iconInfo4">김지은 평론가</span>
          </p>
        </div>
        <div class="col-xs-5 posterWrapper">
          <img src="../images/programs/progEvent4.png" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="title titleLeft">
          <span>12.18 Sun PM 2:30</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5 posterWrapper">
          <img src="../images/programs/progEvent5.png" />
        </div>
        <div class="col-xs-7 textWrapper">
          <p class="preTitle">퍼즈가 주목하는 배우 01</p>
          <p class="mainTitle">엘르 패닝 Elle Fanning</p>
          <p class="subTitle">소녀는 언제나 변신중  <네온 데몬> <어바웃 레이> </p>
          <p class="detail">이처럼 엘르 패닝은 언제나 소녀였지만, <어바웃 레이>에서만큼은 소녀이길 거부한다. 삐죽빼죽 짧은 머리를 한 엘르 패닝의 모습은 <네온 데몬>에서의 파격보다 더 파격적이다. 쾌활한 소녀의 미소를 지우고 출연한 <어바웃 레이>에서 그녀는 소녀의 몸으로 태어난 소년 레이를 연기한다. 생일 촛불을 끌 때마다 “남자이고 싶다”고 비는 레이는 성전환 수술을 앞둔 십대다.</p>
          <p class="detail">드레스가 아닌 헐렁한 바지와 셔츠로 긴 팔다리를 감싸고, 스케이트보드와 쇼트커트와 묵직한 워커와 압박붕대의 조합으로 엘르 패닝은 소년 레이의 외면을 완성한다. 엘르 패닝이 소년의 외면만 흉내내려 했다면 무리한 도전이라는 비난을 피할 수 없었을 것이다. 엘르 패닝 스스로 <어바웃 레이>는 지금껏 맡은 역할 중 어렵기로 손꼽는 작품이라 말한 바 있다.</p>
          <p class="info">
            <span class="iconInfo1">강연</span>
            <span class="iconInfo2">1시간</span>
            <span class="iconInfo3">Hall b</span>
            <span class="iconInfo4">김지은 평론가</span>
          </p>
        </div>
      </div>
      <footer>
        <span class="copyright">©</span>
        <span>pause</span>
        <span>94  ,Wausan-ro   Mapo-gu  Seoul, Republic of Korea</span>
        <span>www.pause.com</span>
        <span>bogledj@gmail.com</span>
        <img src="../images/footer_insta.png" />
        <img src="../images/footer_fb.png" />
      </footer>
    </div>
  </section>
</body>

</html>
