<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="utf-8">

  <title>pause</title>
  <link rel="shortcut icon" href="../favicon.ico">
  <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="../stylesheets/agency.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../stylesheets/nav.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/common.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/footer.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/resv3.css" />
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/resv3.js"></script>
</head>

<body id="page-top" class="index">
  <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="main.html">
          <img class="logo" src="../images/logo.png" />
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li >
            <a href="home.html">About</a>
          </li>
          <li class="active">
            <a href="#">Reservation</a>
          </li>
          <li>
            <a href="prog.html">Programs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="Resv3" class="text-center">
    <div class="resvNav text-center">
      <div></div>
      <div></div>
      <div class="active"></div>
    </div>
    <div class="movieInfoDiv">
      <p class="movieInfo">12월 14일 오늘, 저녁 7시</p>
      <p class="afterMovieInfo">
        <span class="name">유다정</span>
        <span>회원 님의 발권내용입니다.</span>
      </p>
    </div>
  </section>


  <section id="ResvInfo" class="text-center">
    <div class="container">
      <div class="ticketBorder"></div>
      <div class="row">
        <div class="col-xs-5 col-xs-offset-1 movieImg">
          <img src="../images/resv/1/8.png" class="movieCapture" />
        </div>
        <div class="col-xs-6 movieInfo text-left">
          <p class="movieTitleKr">
            대니쉬 걸
          </p>
          <p class="movieTitleEn">
            Danish Girl
          </p>
          <p class="movieShortInfo">
            <span class="year">2015</span>
            <span class="duringTime">1h 20m</span>
          </p>
        </div>
      </div>
      <div class="ticketBorder"></sdiv>
    </div>
    <div class="container resvInfo text-left">
      <div class="row">
        <div class="col-xs-6 first">
          <span class="resvUnit resvId">ID</span>
          <span>루비</span>
        </div>
        <div class="col-xs-6">
          <span class="resvUnit resvRoomNo">Room no.</span>
          <span>45</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 first">
          <span class="resvUnit resvGoods">Goods</span>
          <span>목베개 담요</span>
        </div>
        <div class="col-xs-6">
          <span class="resvUnit resvSnacks">Snacks</span>
          <span>초콜렛 코코아 귤</span>
        </div>
      </div>
    </div>
  </section>
  <section id="autoHome" class="text-center">
    <p class="notice">
      <span class="time">20</span>초 후에 자동으로 홈으로 이동합니다.
    </p>
    <div class="prevNext">
      <a href="resv2.html">
        <div class="goPrev">
          이전
        </div>
      </a>
    </div>
  </section>
  <div class="bodyBackWrapper">
  </div>
  <div class="bodyBackWrapper gradation">
  </div>
  <footer>
    <span class="copyright">©</span>
    <span>pause</span>
    <span>94  ,Wausan-ro   Mapo-gu  Seoul, Republic of Korea</span>
    <span>www.pause.com</span>
    <span>bogledj@gmail.com</span>
    <a target="_blank" href="https://www.instagram.com/djdj_yoo/">
      <img src="../images/footer_insta.png" />
    </a>
    <a target="_blank" href="https://www.facebook.com/djdj.yoo">
      <img src="../images/footer_fb.png" />
    </a>
  </footer>
</body>

</html>
