<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="utf-8">

  <title>pause</title>

  <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="../stylesheets/agency.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../stylesheets/nav.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/common.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/resv.css" />
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/home.js"></script>
<script>
    $(document).ready(function(){
    });
</script>
</head>

<body id="page-top" class="index">

  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a href="intro.html">
          <img class="logo" src="../images/logo.png" />
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li class="active">
            <a href="home.html">about</a>
          </li>
          <li>
            <a href="#">reservation</a>
          </li>
          <li>
            <a href="#">programs</a>
          </li>
          <li>
            <a href="#">today cine</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!-- Services Section -->
  <section id="Resv" class="text-center">
    <div class="mainTitle">
      <p>퍼즈와 함께 오늘 저녁</p>
      <p>영화 한편 어떠세요?</p>
    </div>
    <div class="subTitle">
      <p>예약이 이렇게 간단한걸요!</p>
    </div>
    <div class="resvNav text-center">
      <div class="active"></div>
      <div></div>
      <div></div>
    </div>
    <div class="select">
      <p>
        먼저, 원하는 날과 시간을 선택하세요.
      </p>
      <div class="selectDate">
        <div>오늘</div>
        <div>내일</div>
        <div>모레</div>
        <div>다른 날</div>
      </div>
      <div class="selectTime">
        <div class="timeDiv">
          <div class="dayNight day"></div>
          <span>시</span>
        </div>
        <div class="goNext">
          Go!
        </div>
      </div>
    </div>
  </section>
  <div class="bodyBackWrapper">
  </div>
  <div class="bodyBackWrapper gradation">
  </div>
</body>

</html>
