<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="utf-8">

  <title>pause</title>
  <link rel="shortcut icon" href="../favicon.ico">
  <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="../stylesheets/agency.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../stylesheets/nav.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/common.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/footer.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/resv.css" />
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/resv.js"></script>
</head>

<body id="page-top" class="index">

  <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="intro.html">
          <img class="logo" src="../images/logo.png" />
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li >
            <a href="home.html">About</a>
          </li>
          <li class="active">
            <a href="#">Reservation</a>
          </li>
          <li>
            <a href="prog.html">Programs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="Resv" class="text-center">
    <div class="mainTitle">
      <p>퍼즈와 함께 오늘 저녁</p>
      <p>영화 한편 어떠세요?</p>
    </div>
    <div class="subTitle">
      <p>원하는 날과 시간을 선택하세요</p>
    </div>
    <div class="resvNav text-center">
      <div class="active"></div>
      <div></div>
      <div></div>
    </div>
    <div class="select">
      <div class="selectDate">
        <div data-value=0>오늘</div>
        <div data-value=1>내일</div>
        <div data-value=2>모레</div>

        <div>다른 날</div>
      </div>
      <div class="selectTime">
        <div class="timeDiv">
          <div class="dayNight day"></div>
          <div class="timeList">
            <select dir="rtl"></select>
          </div>
        </div>
        <form id="resvForm" action="./resv2.html">
          <input type="hidden" name="yyyy" />
          <input type="hidden" name="mm" />
          <input type="hidden" name="dd" />
          <input type="hidden" name="word" />
          <input type="hidden" name="dayNight" />
          <input type="hidden" name="time" />
          <button type="submit" class="goNext">
            Go!
          </button>
        </form>
      </div>
    </div>
  </section>
  <div class="bodyBackWrapper">
  </div>
  <div class="bodyBackWrapper gradation">
  </div>
  <footer>
    <span class="copyright">©</span>
    <span>pause</span>
    <span>94  ,Wausan-ro   Mapo-gu  Seoul, Republic of Korea</span>
    <span>www.pause.com</span>
    <span>bogledj@gmail.com</span>
    <a target="_blank" href="https://www.instagram.com/djdj_yoo/">
      <img src="../images/footer_insta.png" />
    </a>
    <a target="_blank" href="https://www.facebook.com/djdj.yoo">
      <img src="../images/footer_fb.png" />
    </a>
  </footer>
    <div id="planeOverflow">
      <div id="planeRotate" style="transform: rotate3d(-0.3508771929824561, -0.49014084507042255, 0, 18.083627050606747deg);">
        <div id="planeZ" style="opacity: 1;">
          <div class="tile"><img src="../images/gif/00.gif" /></div>
          <div class="tile"><img src="../images/gif/01.gif" /></div>
          <div class="tile"><img src="../images/gif/02.gif" /></div>
          <div class="tile"><img src="../images/gif/03.gif" /></div>
          <div class="tile"><img src="../images/gif/04.gif" /></div>
          <div class="tile"><img src="../images/gif/05.gif" /></div>
          <div class="tile"><img src="../images/gif/06.gif" /></div>
          <div class="tile"><img src="../images/gif/07.gif" /></div>
          <div class="tile"><img src="../images/gif/08.gif" /></div>
          <div class="tile"><img src="../images/gif/09.gif" /></div>
        </div>
      </div>
    </div>
</body>

</html>
